.TextEditor-container {
  width: 90vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.form-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-pill {
  margin-left: 1vw;
}
