.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e7d7c9;
}

.filter-box {
  display: flex;
  flex-direction: row;
  gap: 5vh;
  margin: 5vh;
}

.filter-option-easy {
  background-color: coral;
  padding: 1vh 3vh;
  border-radius: 2vh;
  border-width: 5px;
  border-color: white;
  border-style: double;
}

.filter-option-medium {
  background-color: #fe676e;
  padding: 1vh 3vh;
  border-radius: 2vh;
  border-width: 5px;
  border-color: white;
  border-style: double;
}

.filter-option-hard {
  background-color: #c73866;
  padding: 1vh 3vh;
  border-radius: 2vh;
  border-width: 5px;
  border-color: white;
  border-style: double;
}

.timer {
}

.timer-header {
  font-weight: bold;
}

.timer-display {
  display: flex;
  justify-content: center;
  font-size: 10vh;
}

.button-box {
  display: flex;
  flex: row;
  gap: 10vh;
}

.start-button {
  background-color: #809bce;
  color: white;
}

.cancel-button {
  background-color: #ff4747;
  color: white;
}
