@import "../../scss/theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap");

.navbar-peerprep {
  font-family: $font-overpass-mono;
}

.landing-container {
  display: flex;
  flex-direction: column;
  background-color: $bg-light;
  justify-content: center;
  align-items: center;
  padding: 2em;
  height: 100%;
}

.text-peerprep {
  font-family: $font-overpass-mono;
  font-weight: 700;
}

.desc-container {
  width: 80%;
}

.text-peerprep-desc {
  font-family: $font-overpass-mono;
  text-align: center;
}

.btn-container {
  display: flex;
  gap: 4em;
}

.landing-btn {
  min-width: 10em;
}
